@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #FFE02E, #35241C);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #35241C, #FFE02E);
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}
